body {
  font-size: 16px;
  background: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
  z-index: 1;
}

.App {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
}

.Background{
  position: fixed;
  opacity: 0.05;
  font-size: 10em;
  left:25%;
  top:40%;
  z-index: -100;
  color:#9352ae;
}

#Header, #About, #Skill {
  border: 1px solid red;
  width: 980px;
  margin: 20px auto;
}

.Header-greeting {
  text-align: center;
  font-size: 3em;
}

.About-content {
  overflow: hidden;
}

.About-content p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
  font-size: 1em;
}

.About-left {
  width: 600px;
  margin: 0 5px;
  float: left;
  border: 1px solid red;
}

.About-right {
  width: 350px;
  height: 450px;
  margin: 0 5px;
  float: left;
  border: 1px solid red;
  background-image: url(https://jo-portfolio.s3.ap-northeast-2.amazonaws.com/KakaoTalk_Photo_2019-08-24-03-25-42+2.jpeg
  );
  background-size: cover;
}

.About-content p span:nth-child(2) {
  font-size: 1.25em;
  font-weight: bold;
}
