@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nanum+Gothic+Coding&family=Noto+Sans+KR&family=Noto+Serif+JP:wght@900&family=Oswald:wght@700&family=Permanent+Marker&display=swap');

body {
  font-size: 16px;
  background: white;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

a:hover {
  color: midnightblue;
  cursor: pointer;
  text-decoration: none;
}

.App {
  width: 1000px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.Background{
  position: fixed;
  opacity: 0.05;
  font-size: 10em;
  left:35%;
  top:40%;
  z-index: -100;
  color:#9352ae;
}

#Header {
  width: 980px;
  margin: 20px auto;
}

#Navigation {
  position: fixed;
  top: 215px;
  right: 60px;
  border-top: ridge;
  border-bottom: ridge;
  /* border: 1px solid red; */
}

#About, #Skill, #Work, #Footer {
  /* border: 1px solid red; */
  border-top: double;
  width: 980px;
  margin: 20px auto;
}

.Navigation-content li {
  list-style: none;
  margin-right: 43px;
  font-family: 'Noto Serif JP', serif;
  color: tomato;
  font-size: 1em;
  line-height: 30px;
}

.Navigation-content li:hover {
  list-style: none;
  margin-right: 43px;
  color: midnightblue;
  font-size: 1em;
  line-height: 30px;
}

.Header-greeting {
  text-align: center;
  font-size: 4.5em;
  margin-bottom: 70px;
}

.Header-greeting span:nth-child(2){
  color: tomato;
}

.About-content {
  overflow: hidden;
}

.About-content p {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 33px;
  font-size: 1.04em;
}

.About-left {
  width: 610px;
  margin-left: 20px;
  float: left;
  /* border: 1px solid red; */
}

.About-right {
  width: 300px;
  height: 400px;
  margin-left: 30px;
  float: left;
  /* border: 1px solid red; */
  background-image: url(https://jo-portfolio.s3.ap-northeast-2.amazonaws.com/photo/me2.jpeg);
  background-size: cover;
}

.About-content p span:nth-child(2) {
  font-size: 1.3em;
  font-weight: bold;
  color: tomato;
}

.Skill-content {
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
}

.Skill-wrap {
  float: left;
  width: 260px;
  margin: 0 2px;
}

.Skill-title {
  font-weight: bold;
  font-size: 1.3em;
  color: tomato;
}

.Skill-list {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 30px;
  font-size: 1em;
}

.Work-content {
  overflow: hidden;
  /* border: 1px solid red; */
  width: 950px;
  margin: 0 auto;
}

.WorkEntry-content {
  float: left;
  /* border: 1px solid red; */
  width: 440px;
  margin-right: 33px;
  text-align: center;
}

.WorkEntry-content img {
  height: 250px;
}

.WorkEntry-content img:hover {
  height: 250px;
  opacity: 0.5;
  border: 1px dashed black;
  box-sizing: border-box;
}

.WorkEntry-content h1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Oswald', sans-serif;
  color: tomato;
  font-size: 1.5em;
  text-decoration: none;
}

.WorkEntry-content h1:hover {
  font-family: Arial, Helvetica, sans-serif;
  color: midnightblue;
  font-size: 1.5em;
}

.WorkEntry-content div {
  /* font-family: sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
}

.Project-wrap {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

.Project-left {
  /* border: 1px solid red; */
  float: left;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Oswald', sans-serif;
  line-height: 21px;
  font-size: 0.9em;
  width: 350px;
  margin: 0 5px 5px 5px;
}

.Project-right {
  /* border: 1px solid red; */
  float: left;
  width: 605px;
  margin: 0 5px 5px 5px;
}

.Project-left-wrap div{
  margin-left: 5px;
  /* font-family: sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
}

.Project-left-wrap h1 {
  font-size: 1.8em;
  color: tomato;
}

.Project-right-wrap h1 {
  font-size: 1.3em;
}

.Project-right-wrap p {
  font-size: 1em;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: 5px;
  line-height: 23px;
}

.Project-right-wrap a {
  color: tomato;
  /* font-family: sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.Project-right-wrap a:hover {
  color: midnightblue;
  cursor: pointer;
  text-decoration: none;
}

.Project-right-wrap div {
  margin-bottom: 40px;
}

.Project-right-wrap div ul {
  overflow: hidden;
}

.Project-right-wrap div ul li {
  font-size: 0.95em;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 25px;
}

.Project-right-wrap div:nth-child(4) ul li {
  list-style: none;
  float: left;
  margin-left: 120px;
}

.Contact-content {
  overflow: hidden;
  /* border: 1px solid red; */
  width: 500px;
  margin: 0 auto;
}

.Contact-content li {
  display: inline-block;
  margin: 0 1em 0 0;
}

.Contact-content a {
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.Contact-mail {
  color:midnightblue;
  font-size: 2.2em;
  margin-left: 50px;
}

.Contact-mail:hover {
  font-size: 2.2em;
  margin-left: 50px;
  color: tomato;
}

.Contact-social {
  color:tomato;
  margin-left: 55px;
}

.footer {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  /* border: 1px solid red; */
  font-family: 'Courgette', cursive;
}

